.p-0 {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.px-0 {
	padding-right: 0px;
	padding-left: 0px;
}
.py-0 {
	padding-top: 0px;
	padding-bottom: 0px;
}
.pt-0 {
	padding-top: 0px;
}
.pr-0 {
	padding-right: 0px;
}
.pb-0 {
	padding-bottom: 0px;
}
.pl-0 {
	padding-left: 0px;
}
.m-0 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.mx-0 {
	margin-right: 0px;
	margin-left: 0px;
}
.my-0 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.mt-0 {
	margin-top: 0px;
}
.-mt-0 {
	margin-top: -0px;
}
.mr-0 {
	margin-right: 0px;
}
.-mr-0 {
	margin-right: -0px;
}
.mb-0 {
	margin-bottom: 0px;
}
.-mb-0 {
	margin-bottom: -0px;
}
.ml-0 {
	margin-left: 0px;
}
.-ml-0 {
	margin-left: -0px;
}
.p-4 {
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
.px-4 {
	padding-right: 4px;
	padding-left: 4px;
}
.py-4 {
	padding-top: 4px;
	padding-bottom: 4px;
}
.pt-4 {
	padding-top: 4px;
}
.pr-4 {
	padding-right: 4px;
}
.pb-4 {
	padding-bottom: 4px;
}
.pl-4 {
	padding-left: 4px;
}
.m-4 {
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
}
.mx-4 {
	margin-right: 4px;
	margin-left: 4px;
}
.my-4 {
	margin-top: 4px;
	margin-bottom: 4px;
}
.mt-4 {
	margin-top: 4px;
}
.-mt-4 {
	margin-top: -4px;
}
.mr-4 {
	margin-right: 4px;
}
.-mr-4 {
	margin-right: -4px;
}
.mb-4 {
	margin-bottom: 4px;
}
.-mb-4 {
	margin-bottom: -4px;
}
.ml-4 {
	margin-left: 4px;
}
.-ml-4 {
	margin-left: -4px;
}
.p-8 {
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
}
.px-8 {
	padding-right: 8px;
	padding-left: 8px;
}
.py-8 {
	padding-top: 8px;
	padding-bottom: 8px;
}
.pt-8 {
	padding-top: 8px;
}
.pr-8 {
	padding-right: 8px;
}
.pb-8 {
	padding-bottom: 8px;
}
.pl-8 {
	padding-left: 8px;
}
.m-8 {
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}
.mx-8 {
	margin-right: 8px;
	margin-left: 8px;
}
.my-8 {
	margin-top: 8px;
	margin-bottom: 8px;
}
.mt-8 {
	margin-top: 8px;
}
.-mt-8 {
	margin-top: -8px;
}
.mr-8 {
	margin-right: 8px;
}
.-mr-8 {
	margin-right: -8px;
}
.mb-8 {
	margin-bottom: 8px;
}
.-mb-8 {
	margin-bottom: -8px;
}
.ml-8 {
	margin-left: 8px;
}
.-ml-8 {
	margin-left: -8px;
}
.p-12 {
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
.px-12 {
	padding-right: 12px;
	padding-left: 12px;
}
.py-12 {
	padding-top: 12px;
	padding-bottom: 12px;
}
.pt-12 {
	padding-top: 12px;
}
.pr-12 {
	padding-right: 12px;
}
.pb-12 {
	padding-bottom: 12px;
}
.pl-12 {
	padding-left: 12px;
}
.m-12 {
	margin-top: 12px;
	margin-right: 12px;
	margin-bottom: 12px;
	margin-left: 12px;
}
.mx-12 {
	margin-right: 12px;
	margin-left: 12px;
}
.my-12 {
	margin-top: 12px;
	margin-bottom: 12px;
}
.mt-12 {
	margin-top: 12px;
}
.-mt-12 {
	margin-top: -12px;
}
.mr-12 {
	margin-right: 12px;
}
.-mr-12 {
	margin-right: -12px;
}
.mb-12 {
	margin-bottom: 12px;
}
.-mb-12 {
	margin-bottom: -12px;
}
.ml-12 {
	margin-left: 12px;
}
.-ml-12 {
	margin-left: -12px;
}
.p-16 {
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
}
.px-16 {
	padding-right: 16px;
	padding-left: 16px;
}
.py-16 {
	padding-top: 16px;
	padding-bottom: 16px;
}
.pt-16 {
	padding-top: 16px;
}
.pr-16 {
	padding-right: 16px;
}
.pb-16 {
	padding-bottom: 16px;
}
.pl-16 {
	padding-left: 16px;
}
.m-16 {
	margin-top: 16px;
	margin-right: 16px;
	margin-bottom: 16px;
	margin-left: 16px;
}
.mx-16 {
	margin-right: 16px;
	margin-left: 16px;
}
.my-16 {
	margin-top: 16px;
	margin-bottom: 16px;
}
.mt-16 {
	margin-top: 16px;
}
.-mt-16 {
	margin-top: -16px;
}
.mr-16 {
	margin-right: 16px;
}
.-mr-16 {
	margin-right: -16px;
}
.mb-16 {
	margin-bottom: 16px;
}
.-mb-16 {
	margin-bottom: -16px;
}
.ml-16 {
	margin-left: 16px;
}
.-ml-16 {
	margin-left: -16px;
}
.p-20 {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.px-20 {
	padding-right: 20px;
	padding-left: 20px;
}
.py-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.pt-20 {
	padding-top: 20px;
}
.pr-20 {
	padding-right: 20px;
}
.pb-20 {
	padding-bottom: 20px;
}
.pl-20 {
	padding-left: 20px;
}
.m-20 {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.mx-20 {
	margin-right: 20px;
	margin-left: 20px;
}
.my-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.mt-20 {
	margin-top: 20px;
}
.-mt-20 {
	margin-top: -20px;
}
.mr-20 {
	margin-right: 20px;
}
.-mr-20 {
	margin-right: -20px;
}
.mb-20 {
	margin-bottom: 20px;
}
.-mb-20 {
	margin-bottom: -20px;
}
.ml-20 {
	margin-left: 20px;
}
.-ml-20 {
	margin-left: -20px;
}
.p-24 {
	padding-top: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
}
.px-24 {
	padding-right: 24px;
	padding-left: 24px;
}
.py-24 {
	padding-top: 24px;
	padding-bottom: 24px;
}
.pt-24 {
	padding-top: 24px;
}
.pr-24 {
	padding-right: 24px;
}
.pb-24 {
	padding-bottom: 24px;
}
.pl-24 {
	padding-left: 24px;
}
.m-24 {
	margin-top: 24px;
	margin-right: 24px;
	margin-bottom: 24px;
	margin-left: 24px;
}
.mx-24 {
	margin-right: 24px;
	margin-left: 24px;
}
.my-24 {
	margin-top: 24px;
	margin-bottom: 24px;
}
.mt-24 {
	margin-top: 24px;
}
.-mt-24 {
	margin-top: -24px;
}
.mr-24 {
	margin-right: 24px;
}
.-mr-24 {
	margin-right: -24px;
}
.mb-24 {
	margin-bottom: 24px;
}
.-mb-24 {
	margin-bottom: -24px;
}
.ml-24 {
	margin-left: 24px;
}
.-ml-24 {
	margin-left: -24px;
}
.p-32 {
	padding-top: 32px;
	padding-right: 32px;
	padding-bottom: 32px;
	padding-left: 32px;
}
.px-32 {
	padding-right: 32px;
	padding-left: 32px;
}
.py-32 {
	padding-top: 32px;
	padding-bottom: 32px;
}
.pt-32 {
	padding-top: 32px;
}
.pr-32 {
	padding-right: 32px;
}
.pb-32 {
	padding-bottom: 32px;
}
.pl-32 {
	padding-left: 32px;
}
.m-32 {
	margin-top: 32px;
	margin-right: 32px;
	margin-bottom: 32px;
	margin-left: 32px;
}
.mx-32 {
	margin-right: 32px;
	margin-left: 32px;
}
.my-32 {
	margin-top: 32px;
	margin-bottom: 32px;
}
.mt-32 {
	margin-top: 32px;
}
.-mt-32 {
	margin-top: -32px;
}
.mr-32 {
	margin-right: 32px;
}
.-mr-32 {
	margin-right: -32px;
}
.mb-32 {
	margin-bottom: 32px;
}
.-mb-32 {
	margin-bottom: -32px;
}
.ml-32 {
	margin-left: 32px;
}
.-ml-32 {
	margin-left: -32px;
}
.p-40 {
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
}
.px-40 {
	padding-right: 40px;
	padding-left: 40px;
}
.py-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.pt-40 {
	padding-top: 40px;
}
.pr-40 {
	padding-right: 40px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pl-40 {
	padding-left: 40px;
}
.m-40 {
	margin-top: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	margin-left: 40px;
}
.mx-40 {
	margin-right: 40px;
	margin-left: 40px;
}
.my-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.mt-40 {
	margin-top: 40px;
}
.-mt-40 {
	margin-top: -40px;
}
.mr-40 {
	margin-right: 40px;
}
.-mr-40 {
	margin-right: -40px;
}
.mb-40 {
	margin-bottom: 40px;
}
.-mb-40 {
	margin-bottom: -40px;
}
.ml-40 {
	margin-left: 40px;
}
.-ml-40 {
	margin-left: -40px;
}
.p-48 {
	padding-top: 48px;
	padding-right: 48px;
	padding-bottom: 48px;
	padding-left: 48px;
}
.px-48 {
	padding-right: 48px;
	padding-left: 48px;
}
.py-48 {
	padding-top: 48px;
	padding-bottom: 48px;
}
.pt-48 {
	padding-top: 48px;
}
.pr-48 {
	padding-right: 48px;
}
.pb-48 {
	padding-bottom: 48px;
}
.pl-48 {
	padding-left: 48px;
}
.m-48 {
	margin-top: 48px;
	margin-right: 48px;
	margin-bottom: 48px;
	margin-left: 48px;
}
.mx-48 {
	margin-right: 48px;
	margin-left: 48px;
}
.my-48 {
	margin-top: 48px;
	margin-bottom: 48px;
}
.mt-48 {
	margin-top: 48px;
}
.-mt-48 {
	margin-top: -48px;
}
.mr-48 {
	margin-right: 48px;
}
.-mr-48 {
	margin-right: -48px;
}
.mb-48 {
	margin-bottom: 48px;
}
.-mb-48 {
	margin-bottom: -48px;
}
.ml-48 {
	margin-left: 48px;
}
.-ml-48 {
	margin-left: -48px;
}
.p-56 {
	padding-top: 56px;
	padding-right: 56px;
	padding-bottom: 56px;
	padding-left: 56px;
}
.px-56 {
	padding-right: 56px;
	padding-left: 56px;
}
.py-56 {
	padding-top: 56px;
	padding-bottom: 56px;
}
.pt-56 {
	padding-top: 56px;
}
.pr-56 {
	padding-right: 56px;
}
.pb-56 {
	padding-bottom: 56px;
}
.pl-56 {
	padding-left: 56px;
}
.m-56 {
	margin-top: 56px;
	margin-right: 56px;
	margin-bottom: 56px;
	margin-left: 56px;
}
.mx-56 {
	margin-right: 56px;
	margin-left: 56px;
}
.my-56 {
	margin-top: 56px;
	margin-bottom: 56px;
}
.mt-56 {
	margin-top: 56px;
}
.-mt-56 {
	margin-top: -56px;
}
.mr-56 {
	margin-right: 56px;
}
.-mr-56 {
	margin-right: -56px;
}
.mb-56 {
	margin-bottom: 56px;
}
.-mb-56 {
	margin-bottom: -56px;
}
.ml-56 {
	margin-left: 56px;
}
.-ml-56 {
	margin-left: -56px;
}
.p-64 {
	padding-top: 64px;
	padding-right: 64px;
	padding-bottom: 64px;
	padding-left: 64px;
}
.px-64 {
	padding-right: 64px;
	padding-left: 64px;
}
.py-64 {
	padding-top: 64px;
	padding-bottom: 64px;
}
.pt-64 {
	padding-top: 64px;
}
.pr-64 {
	padding-right: 64px;
}
.pb-64 {
	padding-bottom: 64px;
}
.pl-64 {
	padding-left: 64px;
}
.m-64 {
	margin-top: 64px;
	margin-right: 64px;
	margin-bottom: 64px;
	margin-left: 64px;
}
.mx-64 {
	margin-right: 64px;
	margin-left: 64px;
}
.my-64 {
	margin-top: 64px;
	margin-bottom: 64px;
}
.mt-64 {
	margin-top: 64px;
}
.-mt-64 {
	margin-top: -64px;
}
.mr-64 {
	margin-right: 64px;
}
.-mr-64 {
	margin-right: -64px;
}
.mb-64 {
	margin-bottom: 64px;
}
.-mb-64 {
	margin-bottom: -64px;
}
.ml-64 {
	margin-left: 64px;
}
.-ml-64 {
	margin-left: -64px;
}
.p-72 {
	padding-top: 72px;
	padding-right: 72px;
	padding-bottom: 72px;
	padding-left: 72px;
}
.px-72 {
	padding-right: 72px;
	padding-left: 72px;
}
.py-72 {
	padding-top: 72px;
	padding-bottom: 72px;
}
.pt-72 {
	padding-top: 72px;
}
.pr-72 {
	padding-right: 72px;
}
.pb-72 {
	padding-bottom: 72px;
}
.pl-72 {
	padding-left: 72px;
}
.m-72 {
	margin-top: 72px;
	margin-right: 72px;
	margin-bottom: 72px;
	margin-left: 72px;
}
.mx-72 {
	margin-right: 72px;
	margin-left: 72px;
}
.my-72 {
	margin-top: 72px;
	margin-bottom: 72px;
}
.mt-72 {
	margin-top: 72px;
}
.-mt-72 {
	margin-top: -72px;
}
.mr-72 {
	margin-right: 72px;
}
.-mr-72 {
	margin-right: -72px;
}
.mb-72 {
	margin-bottom: 72px;
}
.-mb-72 {
	margin-bottom: -72px;
}
.ml-72 {
	margin-left: 72px;
}
.-ml-72 {
	margin-left: -72px;
}
.p-80 {
	padding-top: 80px;
	padding-right: 80px;
	padding-bottom: 80px;
	padding-left: 80px;
}
.px-80 {
	padding-right: 80px;
	padding-left: 80px;
}
.py-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}
.pt-80 {
	padding-top: 80px;
}
.pr-80 {
	padding-right: 80px;
}
.pb-80 {
	padding-bottom: 80px;
}
.pl-80 {
	padding-left: 80px;
}
.m-80 {
	margin-top: 80px;
	margin-right: 80px;
	margin-bottom: 80px;
	margin-left: 80px;
}
.mx-80 {
	margin-right: 80px;
	margin-left: 80px;
}
.my-80 {
	margin-top: 80px;
	margin-bottom: 80px;
}
.mt-80 {
	margin-top: 80px;
}
.-mt-80 {
	margin-top: -80px;
}
.mr-80 {
	margin-right: 80px;
}
.-mr-80 {
	margin-right: -80px;
}
.mb-80 {
	margin-bottom: 80px;
}
.-mb-80 {
	margin-bottom: -80px;
}
.ml-80 {
	margin-left: 80px;
}
.-ml-80 {
	margin-left: -80px;
}
.p-96 {
	padding-top: 96px;
	padding-right: 96px;
	padding-bottom: 96px;
	padding-left: 96px;
}
.px-96 {
	padding-right: 96px;
	padding-left: 96px;
}
.py-96 {
	padding-top: 96px;
	padding-bottom: 96px;
}
.pt-96 {
	padding-top: 96px;
}
.pr-96 {
	padding-right: 96px;
}
.pb-96 {
	padding-bottom: 96px;
}
.pl-96 {
	padding-left: 96px;
}
.m-96 {
	margin-top: 96px;
	margin-right: 96px;
	margin-bottom: 96px;
	margin-left: 96px;
}
.mx-96 {
	margin-right: 96px;
	margin-left: 96px;
}
.my-96 {
	margin-top: 96px;
	margin-bottom: 96px;
}
.mt-96 {
	margin-top: 96px;
}
.-mt-96 {
	margin-top: -96px;
}
.mr-96 {
	margin-right: 96px;
}
.-mr-96 {
	margin-right: -96px;
}
.mb-96 {
	margin-bottom: 96px;
}
.-mb-96 {
	margin-bottom: -96px;
}
.ml-96 {
	margin-left: 96px;
}
.-ml-96 {
	margin-left: -96px;
}
.p-120 {
	padding-top: 120px;
	padding-right: 120px;
	padding-bottom: 120px;
	padding-left: 120px;
}
.px-120 {
	padding-right: 120px;
	padding-left: 120px;
}
.py-120 {
	padding-top: 120px;
	padding-bottom: 120px;
}
.pt-120 {
	padding-top: 120px;
}
.pr-120 {
	padding-right: 120px;
}
.pb-120 {
	padding-bottom: 120px;
}
.pl-120 {
	padding-left: 120px;
}
.m-120 {
	margin-top: 120px;
	margin-right: 120px;
	margin-bottom: 120px;
	margin-left: 120px;
}
.mx-120 {
	margin-right: 120px;
	margin-left: 120px;
}
.my-120 {
	margin-top: 120px;
	margin-bottom: 120px;
}
.mt-120 {
	margin-top: 120px;
}
.-mt-120 {
	margin-top: -120px;
}
.mr-120 {
	margin-right: 120px;
}
.-mr-120 {
	margin-right: -120px;
}
.mb-120 {
	margin-bottom: 120px;
}
.-mb-120 {
	margin-bottom: -120px;
}
.ml-120 {
	margin-left: 120px;
}
.-ml-120 {
	margin-left: -120px;
}
.p-144 {
	padding-top: 144px;
	padding-right: 144px;
	padding-bottom: 144px;
	padding-left: 144px;
}
.px-144 {
	padding-right: 144px;
	padding-left: 144px;
}
.py-144 {
	padding-top: 144px;
	padding-bottom: 144px;
}
.pt-144 {
	padding-top: 144px;
}
.pr-144 {
	padding-right: 144px;
}
.pb-144 {
	padding-bottom: 144px;
}
.pl-144 {
	padding-left: 144px;
}
.m-144 {
	margin-top: 144px;
	margin-right: 144px;
	margin-bottom: 144px;
	margin-left: 144px;
}
.mx-144 {
	margin-right: 144px;
	margin-left: 144px;
}
.my-144 {
	margin-top: 144px;
	margin-bottom: 144px;
}
.mt-144 {
	margin-top: 144px;
}
.-mt-144 {
	margin-top: -144px;
}
.mr-144 {
	margin-right: 144px;
}
.-mr-144 {
	margin-right: -144px;
}
.mb-144 {
	margin-bottom: 144px;
}
.-mb-144 {
	margin-bottom: -144px;
}
.ml-144 {
	margin-left: 144px;
}
.-ml-144 {
	margin-left: -144px;
}
.p-160 {
	padding-top: 160px;
	padding-right: 160px;
	padding-bottom: 160px;
	padding-left: 160px;
}
.px-160 {
	padding-right: 160px;
	padding-left: 160px;
}
.py-160 {
	padding-top: 160px;
	padding-bottom: 160px;
}
.pt-160 {
	padding-top: 160px;
}
.pr-160 {
	padding-right: 160px;
}
.pb-160 {
	padding-bottom: 160px;
}
.pl-160 {
	padding-left: 160px;
}
.m-160 {
	margin-top: 160px;
	margin-right: 160px;
	margin-bottom: 160px;
	margin-left: 160px;
}
.mx-160 {
	margin-right: 160px;
	margin-left: 160px;
}
.my-160 {
	margin-top: 160px;
	margin-bottom: 160px;
}
.mt-160 {
	margin-top: 160px;
}
.-mt-160 {
	margin-top: -160px;
}
.mr-160 {
	margin-right: 160px;
}
.-mr-160 {
	margin-right: -160px;
}
.mb-160 {
	margin-bottom: 160px;
}
.-mb-160 {
	margin-bottom: -160px;
}
.ml-160 {
	margin-left: 160px;
}
.-ml-160 {
	margin-left: -160px;
}