.pa-14 {
	padding-top: 0.875rem;
	padding-right: 0.875rem;
	padding-bottom: 0.875rem;
	padding-left: 0.875rem;
}
.ph-14 {
	padding-right: 0.875rem;
	padding-left: 0.875rem;
}
.pv-14 {
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
}
.pt-14 {
	padding-top: 0.875rem;
}
.pr-14 {
	padding-right: 0.875rem;
}
.pb-14 {
	padding-bottom: 0.875rem;
}
.pl-14 {
	padding-left: 0.875rem;
}
.ma-14 {
	margin-top: 0.875rem;
	margin-right: 0.875rem;
	margin-bottom: 0.875rem;
	margin-left: 0.875rem;
}
.mh-14 {
	margin-right: 0.875rem;
	margin-left: 0.875rem;
}
.mv-14 {
	margin-top: 0.875rem;
	margin-bottom: 0.875rem;
}
.mt-14 {
	margin-top: 0.875rem;
}
.-mt-14 {
	margin-top: -0.875rem;
}
.mr-14 {
	margin-right: 0.875rem;
}
.-mr-14 {
	margin-right: -0.875rem;
}
.mb-14 {
	margin-bottom: 0.875rem;
}
.-mb-14 {
	margin-bottom: -0.875rem;
}
.ml-14 {
	margin-left: 0.875rem;
}
.-ml-14 {
	margin-left: -0.875rem;
}
