:root {
  --col-text-main: #2c3e50;
  --col-text-sec: #99a3ba;
  --col-text-placeholder: #cbd1dc;
  --col-bg-gray: #cdd9ed;;
  --col-bg-sec: #eef4ff;
  --col-info: #00bcd4;
  --col-success: #66ff99;
  --col-warning: #ffc107;
  --col-danger: #ff5a5f;
  --col-active: #678efe;
  --col-white: #fff;
}

* {
  box-sizing: border-box;
}
